.link-active {
  font-weight: bold;
  opacity: 100%;
  text-decoration: none;
  color: black;
}

.link-default {
  color: black;
  text-decoration: none;
  font-weight: normal;
  opacity: 50%;
}
